<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Permalist</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>

  <body>
    <main>
      <h1></h1>

      <div class="items">
        <% if (locals.items) { items.forEach(item => { %>

        <div class="item">
          <div class="item-part1">
            <form action="/delete" method="post">
              <input
                type="checkbox"
                name="delete-id"
                value="<%= item.id %>"
                onchange="this.form.submit()"
              />
            </form>
            <p id="task<%= item.id %>"><%= item.task %></p>
            <form id="edit<%= item.id %>" action="/edit" method="post">
              <input type="hidden" name="edit-id" value="<%= item.id %>" />
              <input
                id="edit-input<%= item.id %>"
                type="text"
                name="edit-task"
                value="<%= item.task %>"
                autocomplete="off"
                hidden
              />
            </form>
          </div>

          <div class="item-part2">
            <button
              id="edit-start<%= item.id %>"
              onclick="handler('<%= item.id %>')"
            >
              <img
                src="icons/pencil-solid.svg"
                alt="check-shaped button: click it or press enter to finish editing"
              />
            </button>

            <button
              id="edit-finish<%= item.id %>"
              type="submit"
              form="edit<%= item.id %>"
              hidden
            >
              <img
                src="icons/check-solid.svg"
                alt="pencil-shaped button: click it to start editing"
              />
            </button>
          </div>
        </div>

        <% })} %>

        <form class="item add-task" action="/add" method="post">
          <input
            type="text"
            name="add-task"
            placeholder="Write a new task"
            autocomplete="off"
            autofocus
          />
          <button type="submit">+</button>
        </form>
      </div>
    </main>

    <footer></footer>

    <script>
      const days = [
        'Sunday',
        'Monday',
        'Tuesday',
        'Wednesday',
        'Thursday',
        'Friday',
        'Saturday',
      ];
      const now = new Date();
      const todayDate = now.toLocaleDateString();
      const todayDay = days[now.getDay()];
      const year = now.getFullYear();

      document.querySelector('h1').innerText = `${todayDate} ${todayDay}`;
      document.querySelector(
        'footer'
      ).innerText = `©${year} The App Brewery \n Modified by Asher Kim`;

      function handler(id) {
        document.querySelector(`#task${id}`).hidden = true;
        document.querySelector(`#edit-start${id}`).hidden = true;
        document.querySelector(`#edit-input${id}`).hidden = false;
        document.querySelector(`#edit-input${id}`).focus();
        document.querySelector(`#edit-finish${id}`).hidden = false;
      }
    </script>
  </body>
</html>
